@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* Design System Color */
    /* please use hsl format. convert it here: https://www.w3schools.com/colors/colors_converter.asp */
    --normal-white: 0 0% 100%; /* #ffffff */
    --light-gray-1: 210 40% 96.1%; /* #f1f5f9 */
    --light-gray-2: 214.3 31.8% 91.4%; /* #e2e8f0 */
    --light-gray-3: 210 40% 98%; /* #f8fafc */
    --light-gray-4: 215 20.2% 65.1%; /* #94a3b8 */
    --normal-gray: 215.4 16.3% 46.9%; /* #64748b */
    --light-black-1: 222.2 47.4% 11.2%; /* #0f172a */
    --light-black-2: 217.2 32.6% 17.5%; /* #1e293b */
    --normal-black: 222.2 84% 4.9%; /* #020817 */
    --light-red-1: 0 85.7% 97.3% /* #fef2f2 */
    --normal-red: 0 84.2% 60.2%; /* #ef4444 */
    --dark-red-1: 0 62.8% 30.6%; /* #7f1d1d */

    /* standardized UI variables */
    --background: var(--normal-white);
    --foreground: var(--normal-black);

    --muted: var(--light-gray-1);
    --muted-foreground: var(--normal-gray);

    --popover: var(--normal-white);
    --popover-foreground: var(--normal-black);

    --card: var(--normal-white);
    --card-foreground: var(--normal-black);

    --border: var(--light-gray-2);
    --input: var(--light-gray-2);

    --primary: var(--light-black-1);
    --primary-foreground: var(--light-gray-3);

    --secondary: var(--light-gray-1);
    --secondary-foreground: var(--light-black-1);

    --accent: var(--light-gray-1);
    --accent-foreground: var(--light-black-1);

    --destructive: var(--normal-red);
    --destructive-foreground: var(--light-gray-3);

    --ring: var(--light-gray-4);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--normal-black);
    --foreground: var(--light-gray-3);
 
    --muted: var(--light-black-2);
    --muted-foreground: var(--light-gray-4);
 
    --popover: var(--normal-black);
    --popover-foreground: var(--light-gray-3);
 
    --card: var(--normal-black);
    --card-foreground: var(--light-gray-3);
 
    --border: var(--light-black-2);
    --input: var(--light-black-2);
 
    --primary: var(--light-gray-3);
    --primary-foreground: var(--light-black-1);
 
    --secondary: var(--light-black-2);
    --secondary-foreground: var(--light-gray-3);
 
    --accent: var(--light-black-2);
    --accent-foreground: var(--light-gray-3);
 
    --destructive: var(--dark-red-1);
    --destructive-foreground: var(--light-red-1);
 
    --ring: var(--light-black-2);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}